<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GymManagement.Properties.Settings.New_MemberConnectionString" connectionString="Data Source=ENVY15T;Initial Catalog=New_Member;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="GymManagement.Properties.Settings.MemberConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\deela\Documents\Member.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
